---
import TitlePage from "./shared-components/TitlePage.astro";
import * as DATA from "../data/datacontent";
let {} = Astro.props;
const data = DATA.CONTENT.about;
---

<TitlePage id={'about-title'} name={data.name} namealt={data.namealt} title={data.title} description={data.position} />

<div class="container about-container">
  {
    data.info.map((i, index) => {
      return (
        <div class={'about-section section-' + index}>
          <h3 set:html={i.subtitle} />

          {i.description?.map((item, idx) => {
              return <p set:html={item} />;
          })}
        </div>
      );
    })
  }
</div>
