---
import ExperienceItem from "./shared-components/ExperienceItem.astro";
import Timeline from "./shared-components/Timeline.astro";
import TitlePage from "./shared-components/TitlePage.astro";

let { title, subtitle, description, list } = Astro.props;

const data = {
  title: "<span class='accent'>More than a decade</span>",
  position: "<b>Experience<span class='accent'>.</span></b>",

  description: `Since 2008 I started working on blog projects and university exhibitions, understanding information technology more. I ventured into full stack development, mixing backend, frontend and graphic design. This has opened the doors to various projects such as the ones that will be shown below. continuation.`,
  projects: [
    {
      id: 'project-01',
      name: "University FES Aragon",
      type: "Informatic Engineer",
      period: "2008 - 2012",
      duration: 4,
      durationFraction: '',
      level: 1,
      image: "img/blackboard.png",

      description: `Management aplication of courses and learning online named &quot;Ultra-UI&quot;, was an application type SPA(Single Page Aplication), using the technology Angularjs and Typescript, in server side using Nodejs, Gruntjs and Jazminejs (for unit tests), our day to day was managed through Jira using SCRUM methodology. The development is intended to upgrade the old Blackboard System (Learn-Classic) in one new aplication more fresh, dynamic and faster with capacity responsive and cross browsing (Chrome, IE, Safari, Firefox, Opera), compatible with smartphones, tablets and desktop computers. `,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "Jazminejs" },
        { name: "AngularJs" },
        { name: "github" },
        { name: "HTML5" },
        { name: "Typescript" },
        { name: "SASS" },
        { name: "Jira" },
        { name: "WebServices" },
      ],
    },
    {
      id: 'project-02',
      name: "TV Azteca",
      type: "Web Developer & Backend",
      period: "SEP 2008 - SEP 2010",
      duration: 1,
      durationFraction: '',
      level: 2,
      image: "img/blackboard.png",

      description: `Management aplication of courses and learning online named &quot;Ultra-UI&quot;, was an application type SPA(Single Page Aplication), using the technology Angularjs and Typescript, in server side using Nodejs, Gruntjs and Jazminejs (for unit tests), our day to day was managed through Jira using SCRUM methodology. The development is intended to upgrade the old Blackboard System (Learn-Classic) in one new aplication more fresh, dynamic and faster with capacity responsive and cross browsing (Chrome, IE, Safari, Firefox, Opera), compatible with smartphones, tablets and desktop computers. `,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "Jazminejs" },
        { name: "AngularJs" },
        { name: "github" },
        { name: "HTML5" },
        { name: "Typescript" },
        { name: "SASS" },
        { name: "Jira" },
        { name: "WebServices" },
      ],
    },
    {
      id: 'project-03',
      name: "Praxis",
      type: "Web Developer & Backend",
      period: "SEP 2008 - SEP 2015",
      duration: 2,
      durationFraction: '',
      level: 3,
      image: "img/blackboard.png",

      description: `Management aplication of courses and learning online named &quot;Ultra-UI&quot;, was an application type SPA(Single Page Aplication), using the technology Angularjs and Typescript, in server side using Nodejs, Gruntjs and Jazminejs (for unit tests), our day to day was managed through Jira using SCRUM methodology. The development is intended to upgrade the old Blackboard System (Learn-Classic) in one new aplication more fresh, dynamic and faster with capacity responsive and cross browsing (Chrome, IE, Safari, Firefox, Opera), compatible with smartphones, tablets and desktop computers. `,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "Jazminejs" },
        { name: "AngularJs" },
        { name: "github" },
        { name: "HTML5" },
        { name: "Typescript" },
        { name: "SASS" },
        { name: "Jira" },
        { name: "WebServices" },
      ],
    },
    {
      id: 'project-04',
      name: "Blackboard",
      type: "Web Developer",
      period: "SEP 2014 - AUG 2015",
      duration: 1,
      durationFraction: '',
      level: 1,
      image: "img/blackboard.png",

      description: `Management aplication of courses and learning online named &quot;Ultra-UI&quot;, was an application type SPA(Single Page Aplication), using the technology Angularjs and Typescript, in server side using Nodejs, Gruntjs and Jazminejs (for unit tests), our day to day was managed through Jira using SCRUM methodology. The development is intended to upgrade the old Blackboard System (Learn-Classic) in one new aplication more fresh, dynamic and faster with capacity responsive and cross browsing (Chrome, IE, Safari, Firefox, Opera), compatible with smartphones, tablets and desktop computers. `,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "Jazminejs" },
        { name: "AngularJs" },
        { name: "github" },
        { name: "HTML5" },
        { name: "Typescript" },
        { name: "SASS" },
        { name: "Jira" },
        { name: "WebServices" },
      ],
    },
    {
      id: 'project-05',
      name: "Scholastic",
      type: "Web Developer / Backend Developer",
      period: "SEP 2015 - JUL 2016",
      duration: 1,
      durationFraction: '',
      level: 2,
      image: "img/scholastic.png",

      description: ` The project consisted of generating sites to advertise books, events and scholastic didactic material, the different sites and games were made on jquery, javascript, angularjs, with the use of PHP for contact forms, our day to day was to consult the pending tasks in Jira using the AGILE methodology. The development aims to create Single page sites to promote products, events, etc., with compatibility in multiple browsers and respecting the designs provided by the Scholastic design and UX team. `,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "AngularJs" },
        { name: "Gitlab" },
        { name: "HTML5" },
        { name: "Javascript" },
        { name: "SASS" },
        { name: "SOAP" },
      ],
    },
    {
      id: 'project-06',
      name: "Interapt",
      type: "Web Developer / Backend Developer",
      period: "SEP 2016 - NOV 2016",
      duration: 0,
      durationFraction: '-5',
      level: 3,
      image: "img/interapt.png",

      description: `The application for managing medical visits and medical history, Angular 2 and Typescript technology was used, on the server side using Nodejs, Gulp, our day to day was managed through Jira using the SCRUM methodology. The development aims to upgrade the old system to a more modern one`,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "AngularJs" },
        { name: "Gitlab" },
        { name: "HTML5" },
        { name: "Javascript" },
        { name: "SASS" },
        { name: "SOAP" },
      ],
    },
    {
      id: 'project-07',
      name: "Ebay, VivaAnuncios",
      type: "Web Developer",
      period: "NOV 2016 - APR 2017",
      duration: 0,
      durationFraction: '-5',
      level: 4,
      image: "img/vivaanuncios.png",

      description: ` The project was to maintain the child site of ebay &ldquo;vivaanuncios.com&rdquo;, the technologies used are: jquery, google maps api, javascript, consuming microservices, our day to day was managed through JIRA using the SCRUM methodology. `,
      tech: [
        { name: "Nodejs" },
        { name: "Gruntjs" },
        { name: "HTML5" },
        { name: "github" },
        { name: "WebServices" },
        { name: "Javascript" },
      ],
    },
    {
      id: 'project-08',
      name: "Zaplabs LLC",
      type: "Web Developer",
      period: "APR 2017 - AUG 2017",
      duration: 0,
      durationFraction: '-5',
      level: 5,
      image: "img/zaplabs.png",

      description: `The application was a real estate sales site using riot and javascript as frontend technology along with nodejs, our day to day was managed through JIRA using the AGILE methodology. The development consisted of modernizing the client's site prioritizing speed and stability`,
      tech: [
        { name: "Nodejs" },
        { name: "GruntJs" },
        { name: "HTML" },
        { name: "github" },
        { name: "CSS3" },
        { name: "Javascript" },
        { name: "RIOT" },
        { name: "SOAP" },
      ],
    },
    {
      id: 'project-09',
      name: "DELL EMC",
      type: "Web Developer",
      period: "AUG 2017 - SEP 2017",
      duration: 0,
      durationFraction: '-5',
      level: 4,
      image: "img/dell.png",

      description: `The customer search and management application, the development was a module of the DELL EMC site, using AngularJs technology and SOAP as information provider, our day to day was managed through an internal ticketing application, using the AGILE methodology. The development consisted in making more efficient the search of customers and present their details in a more comfortable way for consumers.`,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "AngularJs" },
        { name: "Mercurial SCM" },
        { name: "HTML5" },
        { name: "Javascript" },
        { name: "CSS3" },
        { name: "SOAP" },
      ],
    },
    {
      id: 'project-10',
      name: "Globant GLOW",
      type: "Web Developer",
      period: "SEP 2017 - JUL 2022",
      duration: 4,
      durationFraction: '',
      level: 3,
      image: "img/globant.png",

      description: `The business management application for managing globers, trips, bonds, permits etc, was a SPA (Single Page Application), using Angular 12 and Typescript technology, on the server side using Nodejs, Gulp, our day to day was managed through Jira using SCRUM methodology. The development aims to upgrade the old system to a more modern and efficient one, as well as support different modules that would directly impact the globers.`,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "Angular 12" },
        { name: "Typescript" },
        { name: "HTML5" },
        { name: "Jira" },
        { name: "Jenkins" },
        { name: "github" },
        { name: "Javascript" },
        { name: "SASS" },
      ],
    },
    {
      id: 'project-11',
      name: "Disney",
      type: "Web Developer",
      period: "JUL 2022 - JUN 2023",
      duration: 0,
      durationFraction: '-5',
      level: 2,
      image: "img/disnep.png",

      description: `The business management application for managing globers, trips, bonds, permits etc, was a SPA (Single Page Application), using Angular 12 and Typescript technology, on the server side using Nodejs, Gulp, our day to day was managed through Jira using SCRUM methodology. The development aims to upgrade the old system to a more modern and efficient one, as well as support different modules that would directly impact the globers.`,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "Angular 12" },
        { name: "Typescript" },
        { name: "HTML5" },
        { name: "Jira" },
        { name: "Jenkins" },
        { name: "github" },
        { name: "Javascript" },
        { name: "SASS" },
      ],
    },
    {
      id: 'project-12',
      name: "RockWell Automation",
      type: "Web Developer",
      period: "MAR 2023 - JUL 2023",
      duration: 0,
      durationFraction: '-5',
      level: 1,
      image: "img/rockwell.png",
      description: `The business management application for managing globers, trips, bonds, permits etc, was a SPA (Single Page Application), using Angular 12 and Typescript technology, on the server side using Nodejs, Gulp, our day to day was managed through Jira using SCRUM methodology. The development aims to upgrade the old system to a more modern and efficient one, as well as support different modules that would directly impact the globers.`,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "Angular 12" },
        { name: "Typescript" },
        { name: "HTML5" },
        { name: "Jira" },
        { name: "Jenkins" },
        { name: "github" },
        { name: "Javascript" },
        { name: "SASS" },
      ],
    },
    {
      id: 'project-13',
      name: "Pod Experience",
      type: "Web Developer",
      period: "JUL 2023 - ",
      duration: 1,
      durationFraction: '',
      level: 3,
      image: "img/rockwell.png",
      description: `The business management application for managing globers, trips, bonds, permits etc, was a SPA (Single Page Application), using Angular 12 and Typescript technology, on the server side using Nodejs, Gulp, our day to day was managed through Jira using SCRUM methodology. The development aims to upgrade the old system to a more modern and efficient one, as well as support different modules that would directly impact the globers.`,
      tech: [
        { name: "Nodejs" },
        { name: "Gulpjs" },
        { name: "Angular 12" },
        { name: "Typescript" },
        { name: "HTML5" },
        { name: "Jira" },
        { name: "Jenkins" },
        { name: "github" },
        { name: "Javascript" },
        { name: "SASS" },
      ],
    },
  ],
  institutions: [
    {
      id: 'institution-001',
      name: "University FES Aragon",
      type: "Informatic Engineer",
      period: "2007 - 2011",
      duration: 4,
      image: "img/blackboard.png"
    },
    {
      id: 'institution-002',
      name: "TV Azteca",
      type: "Developer Backend & Frontend",
      period: "2011 - 2012",
      duration: 1,
      image: "img/blackboard.png"
    },
    {
      id: 'institution-003',
      name: "Praxis",
      type: "Web Developer & Backend",
      period: "2012 - 2014",
      duration: 2,
      image: "img/blackboard.png"
    },
    {
      id: 'institution-004',
      name: "Globant",
      type: "Web Developer",
      period: "2014 -",
      duration: 10,
      image: "img/blackboard.png",
    },
  ],
};

const from = 2007;
const to = 2024;
---

<div class="container experience-container">
  <TitlePage name={data.title} description={data.position} />

  <p class="description">{data.description}</p>

  <Timeline from={from} to={to} projects={data.projects} institutions={data.institutions} />

  <ul class="timeline" style="display: none;">
    {
      data.projects.map((i: any) => {
        return (
          <ExperienceItem
            name={i.name}
            type={i.type}
            period={i.period}
            image={i.image}
            description={i.description}
            tech={i.tech}
          />
        );
      })
    }
  </ul>
</div>

<script>
  
const timelineItems = document.querySelectorAll('[timeline-item]');
timelineItems.forEach((item) => {
    item.addEventListener('click', () => {
        const allevents = document.querySelectorAll('[timeline-item]');
        allevents.forEach(x => {
          x.classList.remove('show-details');
        })
        const data = JSON.parse(item.getAttribute('data-item'));

        data.showDetails = true;
        console.log('data: ', data);
        const event = document.querySelector(`#${data.id}`);
        console.log('event: ', event);
        event.classList.add('show-details');
    })
})
</script>