---
import ExperienceItem from "./shared-components/ExperienceItem.astro";
import Timeline from "./shared-components/Timeline.astro";
import GroupCards from "./shared-components/GroupCards.astro";
import TitlePage from "./shared-components/TitlePage.astro";
import * as DATA from "../data/datacontent";

let { title, subtitle, description, list } = Astro.props;

const data = DATA.CONTENT.experience;

const from = 2006;
const to = 2024;

---

<div class="container experience-container">
  <TitlePage name={data.title} description={data.position} />

  <p class="description">{data.description}</p>

  <Timeline from={from} to={to} projects={data.projects} institutions={data.institutions} />

  <!-- <GroupCards list={[...data.projects, ...data.institutions]} ></GroupCards> -->
</div>

<script>
  
const timelineItems = document.querySelectorAll('.timeline-events [timeline-item]');
timelineItems.forEach((item) => {
    item.addEventListener('click', () => {
        const data = item.getAttribute('data-item');
        console.log('data: ', data);
        const event = document.querySelector(`#${data}`);
        if(!event.classList.contains('show-details')) {
          resetSelection();
          event.classList.add('show-details');
          // event.scrollTo({ behavior: "smooth" });
        } else {
          resetSelection();
          event.classList.remove('show-details');
        }
    })
});

function resetSelection() {
  const allevents = document.querySelectorAll('.timeline-events [timeline-item]');
  allevents.forEach(x => {
    x.classList.remove('show-details');
  });
}

function resetTimeline() {
  const allevents = document.querySelectorAll('[timeline-item]');
  allevents.forEach(x => {
    x.classList.remove('show-details');
  });
}
</script>