---
export interface Props {
  name: string,
  type: string,
  period: string,
  image: string,
  description: string,
  tech: any
}

let { 
  name,
  type,
  period,
  image,
  description,
  tech
 } = Astro.props;

---

<li class="timeline-event">
  <label class="timeline-event-icon"></label>
  <div class="timeline-event-copy">
    <p class="timeline-event-thumbnail">{period}</p>
    <h3>{type}</h3>
    <div class="logo-enterprice">
        <img src={image} class="image-project" alt={image}>
    </div>
    <p>{description}</p>

    <h4>Technologies</h4>
    <div class="list-tech">
      {
        tech.map((i: any) => {
          return (
            <div>{i.name}</div>
          )
        })
      }
    </div>
  </div>
</li>
