---
import TitlePage from "./shared-components/TitlePage.astro";
import * as DATA from "../data/datacontent";

let { title, subtitle, description, list } = Astro.props;

const data = DATA.CONTENT.portfolio;
---

<div class="container portfolio-container">
  <TitlePage name={data.title} description={data.position} />

  <div class="title-divider"></div>
  <p>{data.description}</p>

  <div class="education-con">
    <div class="container-sub">
      <div class="full-divider"></div>
      <div class="row">
        <!-- {listPortfolio} -->
        
        <h1>Under Construction ...</h1>
        {
          data.list.map((i: any) => {
            return <div>
              <div class="title">{ i.name }</div>
              <div class="description">{ i.description }</div>
              <div class="years">{ i.years }</div>

              <div><img src={i.image} alt={i.name}></div>
            </div>;
          })
        }
      </div>
    </div>
  </div>
</div>
