---
// export interface Props {
//   from: number;
//   level: string;
//   value: number;
// }

let { list } = Astro.props;
---

<div class="adn-component">
    {
        list.map((group, indexgroup) => {
            return (
                <div class="adn-group">
                    <div class="adn-group-title">{group.group}</div>
                    <div class="adn-group-list">
                        {group.data.map((item, index) => {
                            return <div class={'adn-list-item ' + group.id } style={'--i:' + (group.data.length + 1) }>
                                <div class="adnli-value"> <span>{item.value}</span> </div>
                                <div class="adnli-name"> <span>{item.name}</span> </div>
                                <div class="adnli-level"> <span>{item.level}</span> </div>
                                <div class="adnli-years"> <span>{item.years}</span> </div>
                                <div class="adnli-image"> <span>{item.image}</span> </div>
                                </div>;
                        })}
                    </div>
                </div>
            );
        })
    }
</div>
